<div th:fragment="help">

    <div>
        <h3>Help Links</h3>
    </div>

    <div>
        <ul>
            <li>
                <a href="http://www.simplecloud.info/" target="_blank">About SCIM</a>
            </li>
            <li>
                <a href="https://tools.ietf.org/html/rfc7643" target="_blank">RFC7643 - SCIM: Core Schema</a>
            </li>
            <li>
                <a href="https://tools.ietf.org/html/rfc7644" target="_blank">RFC7644 - SCIM: Protocol</a>
            </li>
        </ul>
    </div>

</div>